<h2>{{ my_helper item.name }} - {{ item.name}}</h2>

{{ block "contents" }}

<ul>
  {{#items}}
    {{> partial/item}}
  {{/items}}
</ul>

{{{ paginate items }}}

{{#form method="post"}}
  {{ input "something" }}
  {{ select "options" options=items }}
{{/form}}

{{#form_for "wat"}}
  {{ input "something" }}
  {{ select "options" options=items }}
{{/form_for}}

<form action="" method="post" accept-charset="utf-8">
  <p><input type="text" name="name" value="" id="name"></p>
  <p><input type="text" name="value" value="" id="value"></p>
  <p><input type="submit" value="Continue →"></p>
</form>
